<h1>Question and Answer</h1>
<table>
  <thead>
    <h2>Question: {{dataService.questionsWithOutAnswer ? dataService.questionsWithOutAnswer[dataService.num].question : null}}</h2>
  </thead>
  <tbody>
    <input type="button" value="Give an answer" style="margin:3px;" class="btn btn-primary" (click)="giveAnswer(dataService.num)" />
    <tr>
      <div *ngIf="questionMode">
        <td>
          <input type="text" [(ngModel)]="dataService.answeredQuestion.question" class="form-control" readonly />
        </td>
        <td>
          <input type="text" [(ngModel)]="dataService.answeredQuestion.answer" class="form-control" />
        </td>
        <td>
          <input type="button" value="Save" (click)="saveAnswer()" class="btn btn-success" />
        </td>
      </div>
    </tr>
  </tbody>
</table>

<input type="button" value="Add question" style="margin:3px;" class="btn btn-primary" (click)="add()" />
<!-- Таблица отображения отвеченых -->
<table *ngIf="tableMode; else create" class="table table-striped">
  <thead>
    <tr>
      <td>Question</td>
      <td>Answer</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of dataService.questionsWithAnswer">
        <td>{{p?.question}}</td>
        <td>{{p?.answer}}</td>
    </tr>
  </tbody>
</table>

<!--шаблон для добавления вопроса-->
<ng-template #create>

  <div class="form-group">
    <label>Question</label>
    <input type="text" [(ngModel)]="dataService.question.question" class="form-control" />
  </div>
  <div>
    <input type="button" value="Save" (click)="saveQuestion()" class="btn btn-success" />
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>


